/*  your css code here. If applicable */
.container{
    width: 300px;
    height: 150px;
    background-color: #D3D4D3;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    border: 3px solid black;
    padding: 20px 60px;
    
}
.div1{
background-color: green;
border-radius: 50%;
width: 100px;
height: 100px;
 border: 1px;
  display: flex;
}
.div2{
background-color: yellow;
border-radius: 50%;
width: 100px;
height: 100px;
margin-left: 7px;
	 border: 1px;
	  display: flex;
}

.div3{
    background-color: red;
    border-radius: 50%;
width: 100px;
height: 100px;
margin-left: 7px;
	 border: 1px;
	  display: flex;
}
